.hamza{
    color: rgb(8, 0, 255);
}
.ham{
    color: red;
}
.ha{
    color: blue;
    border: 2px red dotted;
    height:
    display: inline-bloc;
    display: bloc;
}
.muskan{
    color: blue;
    background-color: red;
    visibility: hidde;
}
.hello{
    font-family: 'Times New Roman', Times, serif;
    background-color: blue;
    border: dotted red 20px;
    color: black;
    padding: 30px;
    margin: 40px;
    border-radius: 15px;
    box-shadow: 10px 15px 20px red;

}